.main-page {
  .group-button {
    margin-top: 20px;
  }
  .btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    &-start {
      margin-right: 10px;
    }
    &-stop {
      margin-right: 10px;
    }
    &-reset {
      margin-left: 10px;
    }
  }
}
