body {
  margin: 0;
  font-family: "Edu VIC WA NT Beginner", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #31394c;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main-page {
  margin-top: 30px !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .title {
    font-weight: 900;
    color: #e4cd89;
    text-shadow: 0 0 0px #fff, 0 0 50px #f8dc89;
  }
}
